/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Fredericka+the+Great&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Federicka the Great', serif;
    --secondary-font: 'Baloo 2', sans-serif;
}

/* Global Styles */
/* Headings */
h1, 
h2, 
h3 {
    font-family: var(--primary-font);
}

/* Keep background image above the footer */
main {
    padding-bottom: 120px; 
}

/* Hero section */
.game-area {
    background: url('../images/rainforest-bkg-2.jpg') no-repeat center center/cover;
    background-size: cover;       
    /* background-attachment: fixed;  */
    height: 100vh;                
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* h1 styling */
.custom-heading {
    position: absolute;
    top: 20px;
    right: 40px;
    margin: 0;
    z-index: 10;  /* keep text above background */
    display: flex;
    align-items: center;
}

/* Logo styling */
.logo {
    max-height: 4vh;
    margin-right: 10px;
}

/* Hidden objects */
.hidden-object {
    position: absolute;
    width: 60px;
    cursor: pointer;
}

/* Modal styling */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

/* Footer - list of animals/plants to find */
.checklist-footer
{
    background-color: #4D563E;
    padding: 20px;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 999; 
}

.checklist-footer h3 {
    margin-top: 12px;
}

.checklist-footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    gap: 15px;            
    margin: 0;
}

.checklist-footer li {
    padding: 5px 0;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
}

/* Icons next to the animal/plant name */
.icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Media queries */
@media (max-width: 768px) {
    .game-area {
        background-attachment: scroll;
    }
}