/* Hero section */
.hero {
    background: url('../images/rainforest-bkg-2.jpg') no-repeat center center/cover;
    min-height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 50px; */
}

.custom-heading {
    position: absolute;
    top: 20px;
    right: 40px;
    margin: 0;
    /* color: #ffffff;  */
    z-index: 10;  /* keep text above background */
}

.icon {
    position: absolute;
    top: 15px;
    right: 230px;
    max-height: 4vh;

}