/* Hero section */
.game-area {
    background: url('../images/rainforest-bkg-2.jpg') no-repeat center center/cover;
    min-height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-heading {
    position: absolute;
    top: 20px;
    right: 40px;
    margin: 0;
    z-index: 10;  /* keep text above background */
    display: flex;
    align-items: center;
}

.icon {
    max-height: 4vh;
    margin-right: 10px;
}

.hidden-object {
    position: absolute;
    width: 60px;
    cursor: pointer;
}